*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    font-family: "Barlow", sans-serif;
}

#whole-app-container {
    width: 35%;
    margin: 30px auto;
    padding: 2% 2rem;
    box-shadow: 0 0 5px 1px #dddddd;
}

#start {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn-container {
    height: 60px;
}

.start-btn-container #btn-start, #btn-restart {
    height: 100%;
    width: 100px;
    border: 1px solid #ff0000;
    border-radius: 3px;
    background-color: #ffffff;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

#btn-start:hover, #btn-restart:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #ffffff;
}

.problem-container {
    height: 300px;
}

.next-btn-container {
    margin-top: 30px;
    height: 15%;
}

.next-btn-container .next-or-finish {
    float: right;
    height: 100%;
    width: 60px;
    border: 1px solid #ff0000;
    border-radius: 3px;
    background-color: #ffffff;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.next-or-finish:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #ffffff;
}

.result-container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 20px;
    padding: 5px 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result > div:first-child {
    font-size: 18px;
    margin-bottom: 5px;
}

.count-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#count-up {
    font-size: 36px;
    padding: 5px 10px;
}

.clearfix:after {
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
}

@media screen and (max-width: 979px) and (min-width: 650px) {
    #whole-app-container {
        width: 45%;
    }
}

@media screen and (max-width: 650px){
    #whole-app-container {
        width: 70%;
        padding: 1% 1rem;
    }
}